
#heroSection{
    background-image: url(/assets/hero-section.jpg);
}

#heroSectionServices{
    background-image: url(/assets/hero-services.jpg);
}

#heroSectionAboutUs{
    background-image: url(/assets/heroAboutUs.jpg);
}

#heroSectionContactUs{
    background-image: url(/assets/heroContactUs.jpg);
}

#services{
    background-image: url(/assets/health.jpg);
}


